<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!--<hinv-rooms></hinv-rooms>-->
<hinv-container>
  <!--<hinv-rooms></hinv-rooms>
  <hinv-employee></hinv-employee>-->
  <!--<h1>This is from ng-content</h1>-->
  <hinv-app-nav />
  <!--
    <a [routerLink]="'room'">Room</a><br/>
    <a [routerLink]="'employee'">Employee</a>
    <a [routerLink]="'rooms/add'">Add room</a>
  -->
</hinv-container>
<h1>this is app.component.html</h1>
<!--
<div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">Welcome user</div>
  <div *ngSwitchCase="'Admin'">
    Welcome Admin
    <hinv-rooms></hinv-rooms>  
  </div>
  <div *ngSwitchDefault=>You are not authorized to see this page</div>
</div>

<div>
  <ng-template #mycomponent></ng-template>
</div>
<h1 #myelement></h1>
-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!--<router-outlet></router-outlet>-->

